/Lab2/Lab2/nbproject/private/
/Lab2/Lab2/build/
/Lab2/Lab2/dist/
/Lab2/Labb2/nbproject/private/
/Lab2/Labb2/build/
/Lab2/New folder/Lab2/Labb2/nbproject/private/
/Lab2/Lab2Loi/nbproject/private/
/Lab2/Lab3/nbproject/private/
/Lab_3/build/
/Lab_3/dist/
/Lab2/JavaApplication2/nbproject/private/
/Lab2/JavaApplication2/build/
/Lab2/L3/nbproject/private/
/Lab2/L3/build/
/Lab2/L3/dist/
/Project_PRJ/nbproject/private/
/Project_PRJ/build/