/*
 
    Created on : Feb 13, 2022, 10:17:38 PM
    Author     : Thuong

:root{
    --
}

.btn {
    min-width: 142px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0;
    outline: none;
    cursor: pointer;
    color: violet;
}
.1btn:hover{
    background-color: rgba(0,0,0,0.05);
}
.btn.btn--primary {
    color: white;
    background-color: bisque;
}*/