/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 5, 2022, 10:59:50 AM
    Author     : Thuong
*/
.listMovie-content {
    margin-bottom: 30px;
}
.listMovie-content .borderBottom-title{
    margin-top: 15px;
    border-top: 2.5px solid black;
}
.listMovie-content .listMovie-content-list .row .col-md-4 {
    margin-top: 20px;
}
.listMovie-content .listMovie-content-list .row .col-md-4 a img{
    width: 100%;
}


.movie-btn{
    display: flex;
    justify-content: space-between
}
@media only screen and (max-width: 767px) {
    *{
        font-size: 15px;
    }
    .movie-info {
        margin-bottom: 10px;
    }
    .movie-info h4{
        font-size: 15px;
        font-weight: bold;

    }
}
body{
    margin:0px;
    padding: 0px;
    font-family: poppins;
    background-color: rgba(151,151,151,0.03);
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    border:1px solid rgba(0,0,0,0.04);
    background-color: #ffffff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
nav .menu{
    display: flex;
}
nav .menu li a{
    height: 40px;
    line-height: 43px;
    margin: 0px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    color:#585858;
    letter-spacing: 1px;
}

.imgg {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}
.movie-info{
    border: 100px;
}